package {{.RouteName}}

import (
	"gorm.io/gorm"
)

type {{.StructName}} struct {
	gorm.Model
	{{- range .Fields}}
	{{.Name}} {{.Type}} `json:"{{.JSONName}}" gorm:"column:{{.DBName}}"`
	{{- end}}
}

type CreateRequest struct {
	{{- range .Fields}}
	{{.Name}} {{.Type}} `json:"{{.JSONName}}"`
	{{- end}}
}

type CreateResponse struct {
	gorm.Model
	{{- range .Fields}}
	{{.Name}} {{.Type}} `json:"{{.JSONName}}"`
	{{- end}}
}

type UpdateRequest struct {
	{{- range .Fields}}
	{{.Name}} {{.Type}} `json:"{{.JSONName}}"`
	{{- end}}
}

type UpdateResponse struct {
	gorm.Model
	{{- range .Fields}}
	{{.Name}} {{.Type}} `json:"{{.JSONName}}"`
	{{- end}}
}